<h2>Quantum Execution Resources</h2>
<div *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let qcs">{{qcs.name}}</td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let qcs">{{qcs.type}}</td>
        </ng-container>
        <ng-container matColumnDef="computationModel">
            <th mat-header-cell *matHeaderCellDef>Computation Model</th>
            <td mat-cell *matCellDef="let qcs">{{qcs.computationModel}}</td>
        </ng-container>
        <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef>Vendor</th>
            <td mat-cell *matCellDef="let qcs">{{qcs.vendor}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
