<div *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Quantum Execution Resources</th>
      <td mat-cell *matCellDef="let qer">
        <button mat-button class="button-in-table" class="button-in-table" (click)="nameClicked(qer.name)">
          {{qer.name}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="executionType">
      <th mat-header-cell *matHeaderCellDef>Execution Type</th>
      <td mat-cell *matCellDef="let qer">
        <button mat-button class="button-in-table" class="button-in-table" (click)="typeClicked(qer.type)">
          {{qer.executionType}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="computationModel">
      <th mat-header-cell *matHeaderCellDef>Computation Model</th>
      <td mat-cell *matCellDef="let qer">
        <button mat-button class="button-in-table" class="button-in-table"
                (click)="computationModelClicked(qer.computationModel)">
          {{qer.computationModel}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef>Vendor</th>
      <td mat-cell *matCellDef="let qer">
        <button mat-button class="button-in-table" class="button-in-table" (click)="vendorClicked(qer.vendor)">
          {{qer.vendor}}
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
