<h2>Quantum Execution Resources</h2>
<div *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let qer">
              <button mat-button [ngClass]="{'filter-active' : filterService.getActiveFilter().quantumExecutionResource === qer.name}" (click)="nameClicked(qer.name)">
                {{qer.name}}
              </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let qer">
              <button mat-button [ngClass]="{'filter-active' : filterService.getActiveFilter().resourceType === qer.type}" (click)="typeClicked(qer.type)">
                {{qer.type}}
              </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="computationModel">
            <th mat-header-cell *matHeaderCellDef>Computation Model</th>
            <td mat-cell *matCellDef="let qer">
              <button mat-button [ngClass]="{'filter-active' : filterService.getActiveFilter().computationModel === qer.computationModel}" (click)="computationModelClicked(qer.computationModel)">
                {{qer.computationModel}}
              </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="vendor">
            <th mat-header-cell *matHeaderCellDef>Vendor</th>
            <td mat-cell *matCellDef="let qer">
              <button mat-button [ngClass]="{'filter-active' : filterService.getActiveFilter().vendor === qer.vendor}" (click)="vendorClicked(qer.vendor)">
                {{qer.vendor}}
              </button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
