<h3>Filter Programming Languages</h3>
<div *ngIf="programmingLanguageFilter">
  <div>
    Type:
    <button class="filter-active" *ngIf="programmingLanguageFilter.type !== ''" (click)="typeClicked(programmingLanguageFilter.type)">{{programmingLanguageFilter.type}}</button>
  </div>
  <div>
    Syntax Implementation:
    <button class="filter-active" *ngIf="programmingLanguageFilter.syntaxImplementation !== ''" (click)="syntaxImplementationClicked(programmingLanguageFilter.syntaxImplementation)">{{programmingLanguageFilter.syntaxImplementation}}</button>
  </div>
  <div>
    Standardization:
    <button class="filter-active" *ngIf="programmingLanguageFilter.standardization !== ''" (click)="standardizationClicked(programmingLanguageFilter.standardization)">{{programmingLanguageFilter.standardization}}</button>
  </div>
</div>
