<h2>Compilers and Transpilers</h2>
<div *ngIf="dataSource">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell class="w-100" *matHeaderCellDef [attr.rowspan]="2">Name</th>
      <td mat-cell *matCellDef="let compiler">{{compiler.name}}</td>
    </ng-container>
    <ng-container matColumnDef="inputLanguages">
      <th mat-header-cell class="w-200" *matHeaderCellDef>Input Languages</th>
      <td mat-cell *matCellDef="let compiler">
        <button mat-button *ngFor="let x of compiler.inputLanguages" [ngClass]="{'filter-active': (getActiveFilter().inputLanguages.includes(x))}" (click)="inputLanguageClicked(x)">
          {{x}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="outputLanguages">
      <th mat-header-cell class="w-200" *matHeaderCellDef>Output Languages</th>
      <td mat-cell *matCellDef="let compiler">
        <button mat-button *ngFor="let x of compiler.outputLanguages" [ngClass]="{'filter-active': (getActiveFilter().outputLanguages.includes(x))}" (click)="outputLanguageClicked(x)">
          {{x}}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="optimizationStrategies">
      <th mat-header-cell class="w-150" *matHeaderCellDef>Optimization Strategies</th>
      <td mat-cell *matCellDef="let compiler">
        <button mat-button *ngFor="let x of compiler.optimizationStrategies" [ngClass]="{'filter-active': (getActiveFilter().optimizationStrategies.includes(x))}" (click)="optimizationStrategyClicked(x)">
          {{x}}
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
