<div *ngIf="dataSource" class="table-wrapper mat-elevation-z2">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name" [sticky]="true">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Software Development Kits</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table">{{sdk.name}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="licenses">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Licenses</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" *ngFor="let x of sdk.licenses"
              (click)="licensesClicked(x)">{{x}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="programmingLanguages">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Programming Languages</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" *ngFor="let x of sdk.programmingLanguages"
              (click)="programmingLanguageClicked(x)">{{x}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="compilerInputLanguages">
      <th mat-header-cell *matHeaderCellDef>Compiler Input Languages</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" *ngFor="let x of sdk.compilerInputLanguages"
              (click)="compilerInputLanguageClicked(x)">{{x}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="compilerOutputLanguages">
      <th mat-header-cell *matHeaderCellDef>Compiler Output Languages</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" *ngFor="let x of sdk.compilerOutputLanguages"
              (click)="compilerOutputLanguageClicked(x)">{{x}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="compilerOptimizationStrategies">
      <th mat-header-cell *matHeaderCellDef>Compiler Optimization Strategies</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" *ngFor="let x of sdk.compilerOptimizationStrategies">{{x}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="supportedQuantumCloudServices">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Supported Quantum Cloud Services
      </th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" *ngFor="let x of sdk.supportedQuantumCloudServices"
              (click)="supportedQuantumCloudServiceClicked(x)">{{x}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="activeDevelopment">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Active Development</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table"
              (click)="activeDevelopmentClicked(sdk.activeDevelopment)">{{sdk.activeDevelopment}}</div>
      </td>
    </ng-container>
    <ng-container matColumnDef="localSimulator">
      <th mat-header-cell *matHeaderCellDef [attr.rowspan]="2">Local Simulator</th>
      <td mat-cell *matCellDef="let sdk">
        <div class="button-in-table" (click)="localSimulatorClicked(sdk.localSimulator)">{{sdk.localSimulator}}</div>
      </td>
    </ng-container>


    <tr mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

</div>
