<h2>Quantum Software Development Kits</h2>
<div>
    <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let sdk">{{sdk.name}}</td>
        </ng-container>
        <ng-container matColumnDef="licenses">
            <th mat-header-cell *matHeaderCellDef>Licenses</th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.licenses" [ngClass]="{'filter-active': (getActiveFilter().licenses.includes(x))}" (click)="licensesClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="programmingLanguages">
            <th mat-header-cell *matHeaderCellDef>Programming Languages</th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.programmingLanguages" [ngClass]="{'filter-active': (getActiveFilter().programmingLanguages.includes(x))}" (click)="programmingLanguageClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="compilerInputLanguages">
            <th mat-header-cell *matHeaderCellDef>Input Languages</th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.compilerInputLanguages" [ngClass]="{'filter-active': (getActiveFilter().compilerInputLanguages.includes(x))}" (click)="compilerInputLanguageClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="compilerOutputLanguages">
            <th mat-header-cell *matHeaderCellDef>Output Languages</th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.compilerOutputLanguages" [ngClass]="{'filter-active': (getActiveFilter().compilerOutputLanguages.includes(x))}" (click)="compilerOutputLanguageClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="compilerOptimizationStrategies">
            <th mat-header-cell *matHeaderCellDef>Optimization Strategies</th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.compilerOptimizationStrategies" [ngClass]="{'filter-active': (getActiveFilter().compilerOptimizationStrategies.includes(x))}" (click)="compilerOptimizationStrategyClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="knowledgeReuses">
            <th mat-header-cell *matHeaderCellDef>Knowledge Reuses</th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.knowledgeReuses" [ngClass]="{'filter-active': (getActiveFilter().knowledgeReuses.includes(x))}" (click)="knowledgeReuseClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="activeDevelopment">
            <th mat-header-cell *matHeaderCellDef>Active Development</th>
            <td mat-cell *matCellDef="let sdk">
                <button [ngClass]="{'filter-active': (getActiveFilter().activeDevelopment == sdk.activeDevelopment)}" (click)="activeDevelopmentClicked(sdk.activeDevelopment)">{{sdk.activeDevelopment}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="supportedQuantumCloudServices">
            <th mat-header-cell *matHeaderCellDef>Supported Quantum Cloud Services
            </th>
            <td mat-cell *matCellDef="let sdk">
                <button *ngFor="let x of sdk.supportedQuantumCloudServices" [ngClass]="{'filter-active': (getActiveFilter().supportedQuantumCloudServices.includes(x))}" (click)="supportedQuantumCloudServiceClicked(x)">{{x}}</button>
            </td>
        </ng-container>
        <ng-container matColumnDef="localSimulator">
            <th mat-header-cell *matHeaderCellDef>Local Simulator</th>
            <td mat-cell *matCellDef="let sdk">
                <button [ngClass]="{'filter-active': (getActiveFilter().localSimulator == sdk.localSimulator)}" (click)="localSimulatorClicked(sdk.localSimulator)">{{sdk.localSimulator}}</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>