.grey-icon {
  color: dimgrey;
}

.bigger {
  transform: scale(2);
}

.lock-button {
  text-align: center;
}

.interoperability {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.filter-heading {
  font-size: large;
}

.text {
  width: 200px;
  font-size: x-small;
}

#filter-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

mat-form-field {
  height: 10px;
}
