<div id="filter-wrapper">
  <div id="filter-title-wrapper">
    <div>
      <span id="filter-title">Filter</span>
    </div>
    <div>
      <button mat-mini-fab color="primary" class="clear-button" (click)="clearAll()">
        <mat-icon class="clear-button-icon">delete</mat-icon>
      </button>
    </div>
  </div>
  <span class="filter-heading-text">SDKs</span>
  <form>
    <mat-form-field>
      <mat-label>SDKs</mat-label>
      <mat-select [(value)]="selectedSdks" (selectionChange)="changeSomething()" multiple>
        <mat-option *ngFor="let sdk of sdks" [value]="sdk">{{sdk}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>License</mat-label>
      <mat-select [(value)]="selectedLicenses" (selectionChange)="changeSomething()" multiple>
        <mat-option *ngFor="let license of licenses" [value]="license">{{license}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Programming Language</mat-label>
      <mat-select [(value)]="selectedProgrammingLanguages" (selectionChange)="changeSomething()" multiple>
        <mat-option *ngFor="let language of programmingLanguages" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Input Languages</mat-label>
      <mat-select [(value)]="selectedInputLanguages" (selectionChange)="changeSomething()" multiple>
        <mat-option *ngFor="let language of inputLanguages" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Output Languages</mat-label>
      <mat-select [(value)]="selectedOutputLanguages" (selectionChange)="changeSomething()" multiple>
        <mat-option *ngFor="let language of outputLanguages" [value]="language">{{language}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Optimization Strategy</mat-label>
      <mat-select [(value)]="selectedOptimizationStrategies" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let optimizationStrategy of optimizationStrategies"
                    [value]="optimizationStrategy">{{optimizationStrategy}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="interoperability">
    <div class="lock-button">
    <app-sync-sdk-qcs-button class="vertical"></app-sync-sdk-qcs-button>
    </div>
    <div class="text">
      Only show SDK that can be used to access the selected Quantum Cloud Services.
      And only show Quantum Cloud Services that are supported by the current selection of SDKs.
    </div>
  </div>

  <span class="filter-heading-text">QCS</span>
  <form>
    <mat-form-field>
      <mat-label>Quantum Cloud Services</mat-label>
      <mat-select [(value)]="selectedQuantumCloudServices" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let qcs of quantumCloudServices" [value]="qcs">{{qcs}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Access Method</mat-label>
      <mat-select [(value)]="selectedAccessMethods" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let accessMethod of accessMethods" [value]="accessMethod">{{accessMethod}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Service Model</mat-label>
      <mat-select [(value)]="selectedServiceModels" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let serviceModel of serviceModels" [value]="serviceModel">{{serviceModel}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Assembly Language</mat-label>
      <mat-select [(value)]="selectedAssemblyLanguages" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let assemblyLanguage of assemblyLanguages"
                    [value]="assemblyLanguage">{{assemblyLanguage}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="interoperability">
    <div class="lock-button">
      <app-sync-qcs-qer-button class="vertical"></app-sync-qcs-qer-button>
    </div>
    <div class="text">
      Only show Quantum Cloud Services that provide Access to the selected Quantum Execution Resources.
      And only show Quantum Execution Resources that are supported by the current selection of Quantum Cloud Services.
    </div>
  </div>

  <span class="filter-heading-text">Execution Resources</span>
  <form>
    <mat-form-field>
      <mat-label>Quantum Execution Resources</mat-label>
      <mat-select [(value)]="selectedQuantumExecutionResources" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let qer of quantumExecutionResources" [value]="qer">{{qer}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Execution Type</mat-label>
      <mat-select [(value)]="selectedExecutionType" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let executionType of executionTypes" [value]="executionType">{{executionType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Computation Model</mat-label>
      <mat-select [(value)]="selectedComputationModels" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let computationModel of computationModels"
                    [value]="computationModel">{{computationModel}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Vendor</mat-label>
      <mat-select [(value)]="selectedVendors" multiple (selectionChange)="changeSomething()">
        <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
