#interoperability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-top: 10px;
  //margin-bottom: 10px;
  //width: 200px;
}

.filter-heading-text {
  font-size: medium;
}

.filter-title {
  font-size: large;
}

#filter-title-wrapper {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

#filter-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.smaller {
  transform: scale(0.7);
}
