

.lock-button {
  text-align: center;
}

.interoperability {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
}

.filter-heading-text {
  font-size: large;
}

#filter-title {
  font-size: x-large;
}

#filter-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  width: 200px;
  font-size: x-small;
}

#filter-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
mat-form-field { /* Changes the input styling to just about nothing so that button styling can take over */
  font-size: 12px;
}

.clear-button {
  transform: scale(0.8);
}
