<h2>Filter</h2>
<div *ngIf="sdkFilter">
    <div>
        Licenses:
        <span *ngFor="let x of sdkFilter.licenses">
            <button (click)="licenseClicked(x)">{{x}}</button>
        </span>
    </div>
    <div>
        Programming Languages:
        <span *ngFor="let x of sdkFilter.programmingLanguages">
            <button (click)="prorammingLanguageClicked(x)">{{x}}</button>
        </span>
    </div>
    <div>
        Compiler Input Languages:
        <span *ngFor="let x of sdkFilter.compilerInputLanguages">
            <button (click)="compilerInputLanguageClicked(x)">{{x}}</button>
        </span>
    </div>
    <div>
        Compiler Output Languages:
        <span *ngFor="let x of sdkFilter.compilerOutputLanguages">
            <button (click)="compilerOutputLanguageClicked(x)">{{x}}</button>
        </span>
    </div>
    <div>
        Compiler Optimization Strategies:
        <span *ngFor="let x of sdkFilter.compilerOptimizationStrategies">
            <button (click)="compilerOptimizationStrategyClicked(x)">{{x}}</button>
        </span>
    </div>
    <div>
        Knowledge Reuses:
        <span *ngFor="let x of sdkFilter.knowledgeReuses">
            <button (click)="knowledgeReuseClicked(x)">{{x}}</button>
        </span>
    </div>
</div>