#main-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#main {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

#tables-wrapper {
  padding: 10px 30px;
}

.table-wrapper {
  margin-top: 20px;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}
