#filter {
  width: 100%;
  display: inline-block;
}

.subfilter {
  float: left;
  margin: 20px;
}

#orchestrator-filter {
  width: 200px;
}

#sdk-filter {
  width: 300px;
}

button.filter-active {
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.mat-row {
  height: 10px;
}

th.mat-cell {
  padding: 100px;
}

