#filter {
  width: 100%;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 10px;
}

.subfilter {
  float: left;
  margin: 20px;
}

#orchestrator-filter {
  width: 200px;
}

#sdk-filter {
  width: 300px;
}

button.filter-active {
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button {
  margin: 0px 2px;
  padding: 5px;
  font: inherit;
  line-height: normal;
}

.mat-row {
  height: auto;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.w-75{
  width: 75px;
}

.w-100{
  width: 100px;
}

.w-150{
  width: 150px;
}

.w-200{
  width: 200px;
}
