<div *ngIf="dataSource" class="table-wrapper mat-elevation-z2">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Orchestration</th>
            <td mat-cell *matCellDef="let orchestrator">{{orchestrator.name}}</td>
        </ng-container>
        <ng-container matColumnDef="licenses">
            <th mat-header-cell *matHeaderCellDef>Licenses</th>
            <td mat-cell *matCellDef="let orchestrator">
                <div class="element-in-table" *ngFor="let x of orchestrator.licenses">{{x}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="programmingLanguages">
            <th mat-header-cell *matHeaderCellDef>Programming Languages</th>
            <td mat-cell *matCellDef="let orchestrator">
                <div class="element-in-table" *ngFor="let x of orchestrator.programmingLanguages" (click)="prorammingLanguageClicked(x)">{{x}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="activeDevelopment">
            <th mat-header-cell *matHeaderCellDef>Active Development</th>
            <td mat-cell *matCellDef="let orchestrator">
                <div class="element-in-table" (click)="activeDevelopmentClicked(orchestrator.activeDevelopment)">{{orchestrator.activeDevelopment}}</div>
            </td>
        </ng-container>
        <ng-container matColumnDef="productionReady">
            <th mat-header-cell *matHeaderCellDef>Production ready</th>
            <td mat-cell *matCellDef="let orchestrator">
                <div class="element-in-table"  (click)="productionReadyClicked(orchestrator.productionReady)">{{orchestrator.productionReady}}</div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
