<h3>Filter Compilers and Transpilers</h3>
<div *ngIf="compilersFilter">
  <div>
    Input Languages:
    <span *ngFor="let x of compilersFilter.inputLanguages">
      <button class="filter-active" (click)="inputLanguageClicked(x)">
        {{x}}
      </button>
    </span>
  </div>
  <div>
    Output Languages:
    <span *ngFor="let x of compilersFilter.outputLanguages">
      <button class="filter-active" (click)="outputLanguageClicked(x)">
        {{x}}
      </button>
    </span>
  </div>
  <div>
    Optimization Strategies:
    <span *ngFor="let x of compilersFilter.optimizationStrategies">
      <button class="filter-active" (click)="optimizationStrategyClicked(x)">
        {{x}}
      </button>
    </span>
  </div>
</div>
